.form-group {
    margin-bottom: 15px;
    float: left;
    width: 100%;
}

#album-form {
    overflow: hidden;
}

.alert-fixed-top {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
}